<div class="p-shadow-8 p-mt-sm-2 p-mt-md-2 p-mt-lg-3 p-mt-xl-4">
  <p-card>
    <div id="videoDiv">
      <video id="video" autoplay muted loop>
        <source src="/assets/video1.mp4" type="video/mp4" />
      </video>

      <div id="videoMessage">
        <h1>Celebrating Over 40 Years of Machining Service</h1>
        <!-- <h3>
      We are proud to announce that we have been providing machining and
      engineering services to our local businesses and community for over 40
      years, and that we are committed to developing new and inovative ways to
      serve our customers.
    </h3>
    <h4>
      At Custom Machine, Inc. Customer Satisfaction is our #1 Priority. We
      achieve this by delivering quality parts on time and at competitive
      pricing.
    </h4> -->
        <p>
          <button pButton label="Let's Get Started"></button>
        </p>
      </div>
    </div>
  </p-card>
</div>
