<div class="p-mt-2">
  <p-card>
    <section>
      <div class="content">
        <h1>Celebrating 40 Years of Machining Service</h1>
        <p>
          We are proud to announce that this is our 40th year of providing
          machining and engineering services to our local businesses and
          community, and that we are committed to developing new and inovative
          ways to serve our customers for the next 40 years and beyond.
        </p>
      </div>
      <video autoplay muted loop id="video-header">
        <source src="/assets/video1.mp4" type="video/mp4" />
      </video>
    </section>
  </p-card>
</div>
