#main {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+20,207cca+20,2989d8+41,1e5799+67,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #1e5799 0%,
    #207cca 20%,
    #207cca 20%,
    #2989d8 41%,
    #1e5799 67%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #207cca 20%,
    #207cca 20%,
    #2989d8 41%,
    #1e5799 67%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #207cca 20%,
    #207cca 20%,
    #2989d8 41%,
    #1e5799 67%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#site-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  margin: 2rem 0;
  color: #fff;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #site-title {
    font-size: 1.5rem;
  }

  #logo {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #site-title {
    font-size: 1.8rem;
  }

  img {
    height: 75px;
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #site-title {
    font-size: 2rem;
  }

  img {
    height: 90px;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #site-title {
    font-size: 2.5rem;
  }

  img {
    height: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #site-title {
    font-size: 3.5rem;
  }

  img {
    height: 120px;
  }
}
